<h1>POST Request Received</h1>
{{#if query}}
    <h2>Post Query</h2>
        <ul>
            {{#each query}}
            <li>Key: {{this.key}}, Value: {{this.value}}</li>
            {{/each}}
        </ul>
{{/if}}

{{#if pbody}}
    <h2>Post Body</h2>
        <ul>
            {{#each pbody}}
            <li>Key: {{this.key}}, Value: {{this.value}}</li>
            {{/each}}
        </ul>
{{/if}}
